.navbar{
  width: 100%;
  height: 4rem;
}
.navbar .main{
  margin: 0 auto;
  width: 90%;
  max-width: 1800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.main .logo{
  background: -webkit-linear-gradient(left,#A020F0, #0047AB);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar .main .right-nav-div{
  display: flex;
  column-gap: 10px;
  align-items: center;
}