.course{
  width: 100%;
  height: 100%;
  background-color: #F0F8FF;
}

.container{
  max-width: 80%;
  margin: auto;
}

.container .topic{
  display: flex;
  gap: 1rem;
  width: 100%;
  flex-direction: column;
}

.container .topic p:first-child{
  font-weight: 500;
  font-size: 2rem;
}

.container .topic .timing{
  opacity: 0.6;
}

.container .topic span{
  align-self: flex-end;
  color: blue;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.6;
}

.tab-title-list{
  display: flex;
  list-style: none;
  gap: 2rem;
}

.tab-title{
  width: 15rem;
  height: 4rem;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem ;
  gap: 0.5rem;
}


.activeTab{
  background-color: white;
  border-radius: 10px 10px 0px 0px;
}

.tab-body{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: start;
  background-color: white;
  border-radius: 0 0 10px 10px;
  min-height: 25rem;
}

.tab-body button{
  width: 10rem;
  border-radius: 2rem;
  background-color: rgb(226, 226, 226);
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  padding: 0.8rem 2rem;
}

.tab-body p:first-child{
  font-weight: 500;
  font-size: 1.5rem;
}

.tab-body p,li{
  font-weight: 200;
}

.tab-body li{
  margin-left: 1rem;
}