.layout{
  display: grid;
  grid-template-columns: 8rem 1fr;
}

.popup{
  border-radius: 100%;
  width: 4rem;
  aspect-ratio: 1/1;
  background-color: blueviolet;
  position: absolute;
  display: flex ;
  align-items: center;
  justify-content: center;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
}